
<div class="row">
    <div id="admin" class="col s12">
        <div class="card not-found">
            <img src="/images/not-found.svg" class="d-inline-block align-top icone-rastreio" fill="blue" alt="">
            <div class="h1 text-center">Usuário ou Pacote não Encontrado.</div>
        </div>
    </div>
</div>


<link rel='stylesheet' href='https://fonts.googleapis.com/icon?family=Material+Icons' />