
<div class="row">
    <div id="admin" class="col s12">
        <div class="card material-table">
            <div class="table-header">
                <span class="table-title">Tabela de Rastreios</span>
                <div class="actions">
                    <a href="#add_users" class="modal-trigger waves-effect btn-flat nopadding"><i
                            class="material-icons">person_add</i></a>
                    <a href="#" class="search-toggle waves-effect btn-flat nopadding"><i
                            class="material-icons">search</i></a>
                </div>
            </div>
            
        </div>
    </div>
</div>


<link rel='stylesheet' href='https://fonts.googleapis.com/icon?family=Material+Icons' />